<div class="wordle-container">

    <div *ngFor="let guess of guesses; let guessI = index;" class="wordle-squares-container">
        <div *ngFor="let letter of guess; let letterI = index;" class="wordle-square" [ngClass]="letter.isInCorrectPosition ? 'square-correct-position' : letter.isInWord ? 'square-incorrect-position' : ''">
            <span>{{letter.letter}}</span>
        </div>
    </div>

    <div class="displayed-letters-container">
        <div *ngFor="let arrayOfLetters of displayedLetters; let dLI = index;" class="displayed-letters-row">
            <div *ngFor="let letter of arrayOfLetters">
                <div class="displayed-letter" [ngClass]="letter.isInCorrectPosition ? 'square-correct-position' : letter.isInWord ? 'square-incorrect-position' : letter.hasBeenUsed ? 'square-not-in-word' : ''">
                    <span>{{letter.letter.toUpperCase()}}</span>
                </div>
            </div>

            <div *ngIf="dLI === 2">
                <div class="displayed-letter enter-key">
                    <span>ENTER</span>
                </div>
            </div>
        </div>
    </div>

    <form #wordleForm="ngForm" novalidate (ngSubmit)="trySubmitGuess()">
        <mat-form-field style="height: 0px !important;">
            <input matInput #wordleInput name="wordleInput" [disabled]="guessesUsed >= guessesAllowed" [maxLength]="5" (keyup)="handleWordleKeyUp($event, wordleInput.value)" autofocus/>
        </mat-form-field>
    </form>


    

</div>
