@use '@angular/material' as mat;

@include mat.core();

@import 'node_modules/material-icons/iconfont/material-icons.css';


///////////
/* Theme */
///////////

$theme: mat.define-theme((
    color: (
        theme-type: dark,
        primary: mat.$cyan-palette
    ),
    typography: (
        brand-family: 'Roboto',
        bold-weight: 600
    ),
    density: (
        scale: -1
    )
));


////////////
/* Styles */
////////////
/// 

html {
    @include mat.core-theme($theme);
    @include mat.button-theme($theme);
}
html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.hide {
    display: none !important;
    height: 0px !important;
    width: 0px !important;
}

/* Class to be used on the root div in each page. */
.main-page-container {
    margin: 32px 20vw 0px;
    width: calc(100% - 40vw);
    max-width: 100%;
}

.nav-card {
    width: 256px;
    min-height: 256px;
}
.nav-card:hover {
    background-color: pink;
}
