$toolbar-height: 56px;

#master-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#toolbar { 
    display: flex;
    height: $toolbar-height;
    position: absolute;
    top: 0px;
    z-index: 1000;
}
#drawer {
    display: flex;
    max-height: 100vh;
    min-height: calc(100vh - $toolbar-height);
    width: 100%;
    position: absolute;
    top: 56px;
}

.toolbar-icon-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;

    height: 100%;
}

.sidenav-content {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
}
.sidenav-content-container {
    height: 100%;
    width:100%;
    overflow: auto;
}
.sidenav-drawer-content {
    min-width: 10vw;
    background-color: aqua;
}

.file-cabinet-tab {
    display: flex;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.file-cabinet-tab-inactive:hover {
    background-color: rgba(250, 235, 215, 0.05);
}

.file-cabinet-tab-inactive {
    background-color: rgba(250, 235, 215, 0.025);
}
.file-cabinet-tab-active {
    
}