#master-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#toolbar { 
    display: flex;
    height: 7vh;
}
#drawer {
    display: flex;
    min-height: 93vh;
}

.toolbar-icon-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;

    height: 100%;
}

.sidenav-drawer-content {
    min-width: 10vw;
    background-color: aqua;
}
.sidenav-content {
    width: 50vw;
}

.file-cabinet-tab {
    display: flex;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.file-cabinet-tab-inactive:hover {
    background-color: rgba(250, 235, 215, 0.05);
}

.file-cabinet-tab-inactive {
    background-color: rgba(250, 235, 215, 0.025);
}
.file-cabinet-tab-active {
    
}