<div class="main-page-container">
    <div class="nav-row">
        <h1 class="mat-headline-2">Games</h1>
        <div class="nav-card-container">
            <mat-card class="nav-card" routerLink="/wordle">
                <mat-card-header>
                    <mat-card-title>Wordle</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                </mat-card-content>
            </mat-card>

            <mat-card class="nav-card" routerLink="/snake">
                <mat-card-header>
                    <mat-card-title>Snake</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="nav-row">
        <h1 class="mat-headline-2">TCG</h1>
        <div class="nav-card-container">
            <mat-card class="nav-card" routerLink="/magic-life-counter">
                <mat-card-header>
                    <mat-card-title>MTG Life Counter</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
