<div class="main-page-container">
    <h1 class="mat-headline-2">Games</h1>

    <div class="nav-card-container">
        <mat-card class="nav-card" routerLink="/wordle">
            <mat-card-header>
                <mat-card-title>Wordle</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card class="nav-card" routerLink="/snake">
            <mat-card-header>
                <mat-card-title>Snake</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </div>
</div>
